Raptor Specification Deviation for Degree Generator Implementation

While reviewing the current [degree generator implementation](https://github.com/category-labs/monad-bft/blob/6f87dd95757812d43ed6b956155d5cab8ad1e7ae/monad-raptor/src/r10/degree.rs#L7) it was noticed that the `0` case, was also included in the first `match`.

```rust
// Compute the Degree Generator function Deg() defined in RFC 5053 section 5.4.4.2.
pub fn deg(v: u32) -> u8 {
    match v {
        0..=10240 => 1, // Specification deviation here
        10241..=491581 => 2,
        491582..=712793 => 3,
        712794..=831694 => 4,
        831695..=948445 => 10,
        948446..=1032188 => 11,
        1032189..=1048575 => 40,
        _ => panic!("Can't find Deg({})", v),
    }
}
```
As per [RFC 5053 section 5.4.4.2](https://datatracker.ietf.org/doc/html/rfc5053#section-5.4.4.2), the Degree Generator table treats index 0 as a separate entry:

```
                       +---------+---------+------+
                       | Index j | f[j]    | d[j] |
                       +---------+---------+------+
                       | 0       | 0       | --   |
                       | 1       | 10241   | 1    |
                       | 2       | 491582  | 2    |
                       | 3       | 712794  | 3    |
                       | 4       | 831695  | 4    |
                       | 5       | 948446  | 10   |
                       | 6       | 1032189 | 11   |
                       | 7       | 1048576 | 40   |
                       +---------+---------+------+
```

Similarly, two other open source Raptor implementations ([Rust](https://github.com/ypo/raptor/blob/ea8c404879d2ce8b5b33dcb16e0526bc30d23eb7/src/common.rs#L146-L147) and [Go](https://github.com/google/gofountain/blob/4928733085e9593b7dcdb0fe268b20e1e1184b6d/raptor.go#L102-L103)) treat the 0th index as mapping to 0, however these are not widely adopted implementations at this time and are only for additional context.

This issue is purely informational and we do not believe there is any impact other than distribution degree changes / the specification deviation at this time.

We are also aware that there are some implementation details that deviate from the Raptor specification, however wanted to ensure this was one of them. 

